body{
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center; /* alinhar ao centro */ 
  
}

.conteiner{
  width: 100vw;
  display: flex;
 /*  flex-direction: column; */
 /* justify-content: space-between;  *//*espaço entre elementos  */
 justify-content: center;

}
.box {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.box1{
  background-color: blue;

}

.box2{
  background-color: red;
}

.box3{
  background-color: green;
}